.footer-container {
    background-color: #000000;
    padding: 10px; 
    width: 100%;
    bottom: 0;
    flex: 1;
<<<<<<< HEAD
    background: linear-gradient(to right, black, gray);
=======
    background: black;//linear-gradient(to right, black, gray);
    text-align: center;
>>>>>>> 2f55f3e (Describe your changes here)

    
    .code-of-conduct{
        color: white;
        position: relative;
        z-index: 10;
        margin-bottom: 10px;
<<<<<<< HEAD
        right:-42%;
        transform: translateX(42%);
=======
        
>>>>>>> 2f55f3e (Describe your changes here)
    }
    
    

    .social-media-container{

        .social-media-logo{
            height: 40px;
            margin-top: 15px;
        }
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }
}