.Run-container {
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 10px;
   height: auto;
   background: linear-gradient(to right, ivory, gray);

   .Run-text {
      order: 1;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: left; /* Aligns text to the left */
      text-align: center; /* Ensures proper text alignment */
      width: 100%; /* Full width for better spacing */
      max-width: 500px;
      padding: 10px;

      h1, h4, p {
         padding: 30px;
         line-height: 1.5;
         text-align: left; /* Ensures all text aligns properly */
      }
   }

   .Runimage {
      width: 100%; /* Full width of the container */
      max-width: 500px;
      height: auto;
      object-fit: cover;
      display: block;
      margin-left: auto; /* Centers the image horizontally */
      margin-right: auto;
      border-radius: 0px;
      order: 1; /* Image appears before the text */
   }
}

.Location-container {
   font-size: clamp(1rem, 2.5vw, 1.5rem);
   width: 100%;
   max-width: 500px;
   margin: 20px auto;
   padding: 10px;
   text-align: left;
   border-radius: 0px;

   a {
      color: black;
      text-decoration: underline;
      transition: color 0.5s ease;

      &:hover {
         color: gray;
      }
   }
}

@media (max-width: 932px) {
   .Run-container {
      flex-direction: column;
      padding: 10px;
   }

   .Run-text {
      order: 2; /* Ensures text stays in correct order */
      align-items: center; /* Centers text on smaller screens */
      text-align: center;
      padding: 10px;
      width: 90%; /* Adjust width for responsiveness */
   }

   .Runimage {
      order: 1; /* Image remains first in mobile view */
      width: 90%; /* Adjust width for smaller screens */
   }

   .Location-container {
      width: 90%;
   }
}
