.Run-container {
   display: flex;
   justify-content: right;
   background: linear-gradient(to right, black, gray);

   .Run-text {
      color: #fff;
      width: 50%;
      text-align: left;
      margin-top: 100px;

      h1 {
         font-size: 2.0rem;
         margin-bottom: 15px;
         text-align: center;
         font-family: 'Roboto Mono', sans-serif;
      }

      h4 {
         font-size: 1.2rem;
         margin-bottom: 15px;
         text-align: center;
         font-family: 'Roboto Mono', sans-serif; 
      }

      p {
         font-family: 'Roboto Mono', sans-serif;
         font-size: 1.0rem;
         margin-left: auto;
         margin-right: auto;
         width: 500px;
         margin-top: 100px;
      }

      .Location-container {
         font-family: 'Roboto Mono', sans-serif;
         font-weight: bold;
         font-size: 1.2rem;
         margin-top: 100px;
         text-align: center;
         color: white;

         a {
            color: white;
            text-decoration: underline; 
            transition: color 0.3s ease;
         }

         a:hover {
            color: #ccc; 
         }
      }
   }

   .Runimage {
      height: auto;
      width: 50vw;
      object-fit: cover;
      display: block;
      transition: opacity 3s ease-in-out; 
   }

   .fade-out {
      opacity: 0;
   }

   .fade-in {
      opacity: 1; 
   }
}



