.Slideshow-row { 
    padding-bottom: 20px;
    padding-top: 20px;
    background: linear-gradient(to right, ivory, gray);

    /* Media query for smaller screens */
    @media (max-width: 932px) {
        width: 100%; /* Ensure it doesn't exceed the screen width */
        height: auto; /* Allow the height to be auto on smaller screens */
    }
}






