.Spin-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: auto;
    background: linear-gradient(to right, ivory, gray);

    .Spin-text {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: center;
        width: 100%;
        max-width: 500px;
        padding: 10px;
    

        h1, h4, p {
            padding: 30px;
            line-height: 1.5;
            text-align: left; /* Ensures alignment matches parent */
        }
    }

    .SpinImage {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px;
    }
}

    .Location-container {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
        padding: 10px;
        text-align: left;
        border-radius:0px;

        a {
            color: black;
            text-decoration: underline;
            transition: color 0.5s ease;
    
            &:hover {
            color: black;
            }
        }

@media (max-width: 932px) {
    .SpinImage {
        flex-direction: column;
        padding: 10px;
    }

    .Spin-text {
        order:2;
        align-items:center;
        text-align:center;
        padding: 10px;
        width:90%
    }

    .SpinImage {
        width: 90%;
    }

    .Location-container {
        width: 90%;
    }
}
}