.Spin-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: space-between; 
    background: linear-gradient(to right, ivory, gray);
    position: relative; 

    .Spin-text {
        color: black;
        width: 50%;
        text-align: center;
        display:flex; 
        flex-direction: column;

        h1 {
            font-size: 3.333vw;
            margin-bottom: 15px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }

        h4 {
            font-size: 1.2vw;
            margin-bottom: 15px;
            text-align: auto;
            font-family: 'Montserrat', sans-serif; 
        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            line-height: 2.5vw;
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            margin-top: 80px;
        }

        .Location-container {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 3.0vw;
            margin-top: 80px;
            text-align: center;
            color: black;

            a {
                color: black;
                text-decoration: underline; 
                transition: color 0.50s ease;
            }

            a:hover {
                color: black; 
            }
        }
    }

    .image-container {
        position: relative;
        width: 50%; /* Ensure it takes up half of the container */
        display: flex; 
        justify-content: flex-end; /* Ensures the image stays on the right */

        .SpinImage {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        
        }
    }
}
@media (max-width: 932px) {
    .SpinImage {
      display: none; /* Hides the image on smaller screens */
    }
    .Spin-container {
        // display: flex;
        // justify-content: center;
        height: auto;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center content */
        .Spin-text {
      
           margin-top: 20px; 
           p{
              width: auto;
              font-size: small;
              line-height: 5vw;
           }
        }
     }
  }