.Yoga-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: left;
    background: rgb(25, 24, 24);
    height: 100vh;

    .Yoga-text{
        color: white;
        width: 50%;
        text-align: center;
        margin-top: 85px;
    
        h1 {
        font-size: 3.33vw;
        margin-bottom: 15px;
        text-align: center;
        font-family:'Montserrat', sans-serif;
        }
    
        h4 {
        font-size: 1.5vw;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        }
        
        p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        line-height: 3.5vw;
        margin-top: 80px;
        }
    
    .Location-container { 
        font-family:'Montserrat', sans-serif;
        font-weight:bold;
        font-size: 3.0vw;
        margin-top: 80px;
        text-align: center;
        color: white;

        a {
            color: white;
            text-decoration:underline
        }
        }
    }
    a:hover {
        color: black; 
    }

}
.yogaphoto {
    height: 100%;
    width: 50vw;
    object-fit: cover;
    display: block;
    border-radius: 10px;

}
@media (max-width: 932px) {
    .yogaphoto {
      display: none; /* Hides the image on smaller screens */
    }
    .Yoga-container {
        height: auto;
        // display: flex;
        // justify-content: center;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center content */
        .Yoga-text {
      
           margin-top: 20px; 
           p{
              width: auto;
              font-size: small;
              line-height: 5vw;
           }
        }
     }
  }