

.Yoga-container {
    display: flex;
    justify-content: left;
    background: linear-gradient(to right, gray, black);

    .Yoga-text{
        color: #fff;
        width: 50%;
        text-align: left;
        margin-top: 100px;
    
        h1 {
        font-size: 2.0rem;
        margin-bottom: 15px;
        text-align: center;
        }
    
        h4 {
        font-size: 1.2rem;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Roboto Mono', sans-serif;
        }
        
        p {
        font-family: 'Roboto Mono', sans-serif;
        font-size: 1.0rem;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        margin-top: 200px;
        }
    
    .Location-container { 
        font-family:'Roboto Mono', sans-serif;
        font-weight:bold;
        font-size: 1.2rem;
        margin-top: 200px;
        text-align: center;
        color: white;
        a {
            
            color: white;
        }
        }
    }

    .Yogaimage {
        height: auto;
        width: 50vw;
        object-fit: cover;
        display: block; 
    }

}